<h1>Book Collection Manager</h1>
<p>This is an application for managing your book collection.</p>

<%= link_to('Categories', categories_path)%><br />
<%= link_to('Book Collections', book_collections_path) %><br />
<%= link_to('Members',members_path)%><br/>
<%= link_to('About', {action: 'about', page: 5, id: 20}) %><br />
