<header>
  <title>Edit Finance Request</title>
</header>

<br>

<h1>Editing Finance Request</h1>

<%= render "form", finance: @finance %>

<br>

<div>
  <%= link_to finances_path do %>
    <button type="button" style= "width: 5%; border: none; background: none; position: fixed; top: 25px; left: 25px;"
    onmouseover="this.style.transform='scale(1.1)';"
    onmouseout="this.style.transform='scale(1)';">
      <%= image_tag "back_arrow_icon.png", alt: "Back to Finance Dashboard", style: "width: 100%; height: auto;" %>
    </button>
  <% end %>
</div>
