<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Event</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.cdnfonts.com/css/mustopha" rel="stylesheet">
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
    }

    h3 {
      color: #333;
      font-size: 5vw;
    }

    h2 {
      color: #333;
      margin-top: 1%;
      left: 41.25%;
      font-size: 2vw;
    }

    h1 {
      margin-top: 1%;
      font-size: 3vw;
      text-align: center;
    }

    p {
      color: #666;
    }

    a {
      color: #007bff;
      text-decoration: none;
      margin: 5px;
    }

  </style>
</head>
<body>

<h1>Editing event</h1>

<%= render "form", event: @event %>

<br>

<div>
  <%= link_to "Show this event", @event %> |
  <%= link_to "Back to events", events_path %>
</div>
