<!-- app/views/events/peopleAttending.html.erb -->
<header>
  <title>Attendance</title>
</header>

<h1>People Attending <%= @event.title %></h1>

<ul>
  <% @attending_members.each do |member| %>
    <li><%= member.full_name %></li> <!-- Assuming 'full_name' is a member attribute -->
  <% end %>
</ul>

<%= link_to 'Back to Events', events_path %>
