<table summary="Task form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_area(:description) %></td>
      </tr>
      <th>Read</th>
        <td><%= f.check_box(:read) %></td>
      </tr>
</table>