<%= link_to("Back to List", book_collections_path, :class => 'back-link') %>

<div class="book_collections edit">
  <h2>Edit Book</h2>

  <%= form_for(@book) do |f| %>
    <!-- url: book_collections_path(@book), method: :patch -->
    
    <%= render(partial: 'form', locals: { f: f }) %>

    <div class="form-buttons">
      <%= f.submit("Edit Book") %>
    </div>

  <% end %>
</div>
