<div id="<%= dom_id officer_entry %>">
  <p>
    <strong>Points:</strong>
    <%= officer_entry.points %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= officer_entry.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= officer_entry.description %>
  </p>

</div>
