<header>
  <title>New Officer Entry</title>
</header?  

<h1>New Officer Entry</h1>

<%= render "form", officer_entry: @officer_entry %>

<br>

<div>
  <%= link_to "Back to officer leaderboard", officer_index_members_path %>
</div>
