<header>
  <title>Officer Entry Details</title>
</header>

<p style="color: green"><%= notice %></p>

<%= render @officer_entry %>

<div>
  <%= link_to "Back to officer leaderboard", officer_index_members_path %>
  <% if current_member&.position == 'President' %>
    <%= link_to "Add more officer points", new_officer_entry_path %>
  <% end %>
</div>
