<h1>Editing member</h1>

<h3><%= render "form", member: @member %></h3> 

<div class="links">
  <%= link_to "Show this member", @member %> |
  <%= link_to "Back to members", members_path %>
</div>
