<p style="color: green"><%= notice %></p>

<h1><%= render @member %></h1>
<h2>Member Information</h2>
<style> 
  h1 {
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
  }
  h2 {
    font-family: Arial, sans-serif;
    font-size: 50px;
    padding: 5px;
    text-align: center;
    position: relative;
    top: -405px;
    outline-style: solid;
  }

  .box {
    height: 270px;
    width: 550px;
    outline-style: solid;
    position: absolute;
    top: 80px;
    left: 680px;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .triangle {
    width: 0px;
    height: 1000px;
    border-left: 0px solid transparent; 
    border-right: 1000px solid transparent; 
    border-bottom: 700px solid maroon; 
    position: absolute;
    left: 00px;
    bottom: 0px;
}
.triangle2 {
    width: 0px;
    height: 1000px;
    border-left: 1000px solid transparent; 
    border-right: 0px solid transparent; 
    border-bottom: 700px solid maroon; 
    position: absolute;
    right: 00px;
    bottom: 0px;
}

 .links {
    height: 20px;
    width: 300px;
    position: absolute;
    top: 380px;
    left: 800px;
    outline-style: solid;
    font-family: Arial, sans-serif;
    text-align: center;
 }
</style>

<div class="triangle"></div> 
<div class="triangle2"></div> 

<div class="links">
  <%= link_to "Edit this member", edit_member_path(@member) %> |
  <%= link_to "Back to members", members_path %>
</div>
<div class="box"> </div>

